<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Репликация</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .active {
            background: #73ff73; /*#F8E391;*/
        }
        .not_active {
            background: #fc5656;/* #E1E3E0;*/
        }
    </style>

</head>
<body>
<h1>
    Данные о репликации
</h1>
<table>
    <tr>
        {% for header in headers %}
        <th>
            {{ header }}
        </th>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
        {% for column in row.data %}
        <td class="{{ row.active }}">{{ column }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>